html{
  background-color: #FCFFFF;
}

header{
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 65px;
    border-bottom: solid #35838A 3px;
}

.MariaWinder{
    margin-bottom: 0;
    font-size: 85pt;
    display: inline-block;
}

body {
  margin-top: 0;
  margin: 30px auto;
  max-width: 1000px;
  min-width: 1000px;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: left;
  font-family: 'Poiret One', cursive;
}

h1 {
  padding: 20px 0px 10px 0px;
}

h2{
  font-size: 37pt;
}

h3{
  font-size: 20pt;
}

a {
 color: #35838A;
 text-decoration: underline;
 display: block;
 font-size: 37pt;
}

img {
  display: inline-block;
  text-align: left;
  margin: 0px auto;
  margin-bottom: 0px;
}

p {
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
}

.col{
  margin: 5px;
  display:inline-block;
  vertical-align: top;
  text-align: left;
  width: 45%;
  padding:15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.video{
  display: block;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.website{
  display: block;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.kale{
  margin-top: 40px;
}

.photo{
  margin: 5px;
  display:inline-block;
  vertical-align:top;
  text-align: center;
  width: 45%;
  padding: 0px;
  margin: 0;
}

.topphoto{
  padding: 15px;
  margin-top: 40px;

}

.infophoto{
  display: block;
  text-align: center;
  margin-bottom: 55px;
}

.cards{
  display:inline-block;
  vertical-align: top;
  text-align: center;
  width: 30%;
  margin-top: 55px;
  margin-bottom: 40px;
  margin-right: 0;
}

.cardstext{
  display:inline-block;
  vertical-align: top;
  text-align: left;
  width: 30%;
  padding: 15px;
  margin-bottom: 40px;
  margin-right: 0;
}

.festtext{
  margin: 5px;
  display:inline-block;
  vertical-align: top;
  text-align: left;
  width: 45%;
  padding:15px;
  margin-top: 0px;
  margin-bottom: 40px;
}

footer{
  text-align: center;
  margin-top: 30px;
}
