html{
  /*background-color: #FCFFFF;*/
  background-color: white;
}

/*header{
    border-bottom: solid #35838A;

} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  min-width: 500px;
  max-width: 1000px;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15pt;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.unactive {
  background-color: #35838A;
}


.MariaWinder{
    padding-top: 40px;
    margin-bottom: 0;
    font-size: 30pt;
    display: inline-block;
    color: #333;
}

body{
  text-align: left;
  /*font-family: 'Poiret One', cursive;*/
  font-family: 'Lato', sans-serif;
}

.links a{
 color: #35838A;
 display: inline-block;
 font-size: 15pt;
 padding: 10px 12px;
}

a {
 color: #35838A;
 text-decoration: underline;
 display: inline-block;
 font-size: 25pt;
 padding: 14px 16px;
}

p{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 8pt;
  max-width: 75%;
}

img {

  text-align: center;
  align-content: center;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 0px;
  max-width: 75%;
  height: auto;
}

.work{
  margin-top: 70px;
  color: #333;
}

iframe{
  max-width: 75%;
  margin: 0;
  padding: 0;
}

.obladi{

  display:inline-block;
  vertical-align: top;
  text-align: left;
  max-width: 27%;
  margin: 0;
  padding: 0;
}

footer{
  text-align: center;
}


@media screen and (min-width:800px){

.MariaWinder{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 50pt;
      display: inline-block;
      color: #333;
  }

  .work{
    font-size: 30pt;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #333;
  }

body {
  margin-top: 0;
  margin: 30px auto;
  max-width: 1000px;
  min-width: 1000px;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: left;
  font-family: 'Lato', sans-serif;
}

h2{
  font-size: 25pt;
}

h3{
  font-size: 15pt;
}

a {
 color: #35838A;
 text-decoration: underline;
 display: block;
 font-size: 15pt;
}



img {
  display: inline-block;
  text-align: left;
  margin: 0px auto;
  margin-bottom: 0px;
  max-width: 100%;
  height: auto;
}

p {
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 11pt;
}

.links {
 color: #35838A;
 font-size: 15pt;
 margin: 5px;
 display:inline-block;
 vertical-align: top;
 text-align: left;
 width: 45%;
 padding:15px;
 margin-top: 40px;
 margin-bottom: 40px;
}

.links a{
  display: list-item;
  list-style: none;
}

.col{
  margin: 5px;
  display:inline-block;
  vertical-align: top;
  text-align: left;
  width: 45%;
  padding:15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.video{
  display: block;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.video p{
  text-align: left;
}

.website{
  display: block;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.website p{
  text-align: left;
}

.website a{
  color: #35838A;
  text-decoration: underline;
  display: block;
  font-size: 30pt;
}

.kale{
  margin-top: 40px;
}

.photo{
  margin: 5px;
  display:inline-block;
  vertical-align:top;
  text-align: center;
  width: 45%;
  padding: 0px;
  margin: 0;
}

.topphoto{
  padding: 15px;
  margin-top: 40px;

}

.infophoto{
  display: block;
  text-align: center;
  margin-bottom: 55px;
}

.infophoto p{
  text-align: left;
}

.cards{
  display:inline-block;
  vertical-align: top;
  text-align: center;
  width: 30%;
  margin-top: 55px;
  margin-bottom: 40px;
  margin-right: 0;
}

.cardstext{
  display:inline-block;
  vertical-align: top;
  text-align: left;
  width: 30%;
  padding: 15px;
  margin-bottom: 40px;
  margin-right: 0;
}

.festtext{
  margin: 5px;
  display:inline-block;
  vertical-align: top;
  text-align: left;
  width: 45%;
  padding:15px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.obladi{
  display:inline-block;
  vertical-align: top;
  text-align: left;
  width: 15%;
  padding:3px;
  margin-top: 40px;
  margin-bottom: 40px;
}

footer{
  text-align: center;
  margin-top: 30px;
}

}
