html{
  background-color: #E2E8E4;
}

header{
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 65px;
    border-bottom: solid #C2C2C2 3px;
}

.MariaWinder{
    margin-bottom: 0;
    font-size: 85pt;
    display: inline-block;
}

body {
  margin-top: 0;
  margin: 30px auto;
  max-width: 80%;
  min-width: 40%;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: left;
  font-family: 'Poiret One', cursive;
}

h1 {
  padding: 20px 0px 10px 0px;
}

h2{
  font-size: 30pt;
}

a {
 color: pink;
 text-decoration:none;
}

img {
  display: inline-block;
  text-align: left;
  margin: 0px auto;
  margin-bottom: 0px;
}

p {
  display: inline-block;
}

.col{
  margin: 5px;
  display:inline-block;
  vertical-align: top;
  text-align: left;
  width: 45%;
  padding:15px;
}
